
// ################ BACKGROUND  ################

body {
	background: url("https://beta.thesecretlight.com/application/files/9216/9543/1056/Home1-scanlines-4k2.jpg");
	background-size: 100vw;
	background-repeat: no-repeat;	
}

// ################   HEADER    ################

header.sitewide-header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	/* z-index: 0 !important; */

	container.sitewide-header-container {
		margin-bottom: 160px;
		
	}
}

// ################ NAVIGATION  ################

.nav-container {

	ul.nav {
		margin-left: auto !important; /* align right */
		font-family: 'Six Caps', 'Impact', sans-serif;
	    text-transform: uppercase;
	    font-weight: 600;
	    font-size: 1.4rem;
	    letter-spacing: .04rem;
				
		li {
			transform: skewX(-20deg);
			
			a {
				padding: 2px 10px;
				margin: 0 4px;
				text-decoration: none;
				color: $black;
				background-color: rgba($link-color,.8);
				transition: background-color 1.5s ease-in-out;
				box-shadow: 0 0 25px $black;
			    /* border-radius: 24px; */
				
				&:hover {
					background-color: $nav-hover-bkg-color;
					transition: background-color .2s ease-in-out;
				}
			}		
		}
		
		li.nav-selected {
			a {
				padding: 6px 10px;
				background-color: rgba($link-color,1);
				/* background-color: transparent; */
				/* border: 2px solid $link-color; */
				/* color: $link-color; */
			}
		}
	
	}
}

// ################ FOOTER  ################
.footer-column-1 {

		picture img {
    		box-shadow: 0 0 150px black, 0 0 100px black, 0 0 75px black, 0 0 30px black, 0 0 15px black,0 0 5px black;
		}

}

// ########### CONCRETE FIXES  #############

/* Logged in */
html.ccm-toolbar-visible {

	header.sitewide-header {
		position: relative;
		/* margin-top: 48px; */
		/* top: 0; */
		/* right: 0; */
		/* left: 0; */
		/* z-index: 0 !important; */

		container.sitewide-header-container {

		}
	}

}

/* Edit mode */
html.ccm-edit-mode {  


}
