
// ################ BACKGROUND  ################

body {
	background: url("https://beta.thesecretlight.com/application/files/9216/9543/1056/Home1-scanlines-4k2.jpg");
	background-size: 100vw;
	background-repeat: no-repeat;	
}

// ################ NAVIGATION  ################

.nav-container {

	ul.nav {
		font-family: 'Six Caps', 'Impact', sans-serif;
	    text-transform: uppercase;
	    font-weight: 600;
	    font-size: 1.4rem;
		
		li {
			/* transform: rotate(-45deg); */
			
			a {
				padding: 2px 20px;
				margin: 0 4px;
				text-decoration: none;
				color: $black;
				background-color: $link-color;
				transition: background-color 1.5s ease-in-out;
				box-shadow: 0 0 25px $black;
			    border-radius: 24px;
				
				&:hover {
					background-color: $white;
					transition: background-color .2s ease-in-out;
				}
			}		
		}
		
		li.nav-selected {
			a {
				background-color: transparent;
				color: $link-color;
				border: 2px solid $link-color;
				// box-shadow: 0 0 25px #fff;
			}
		}
	
	}
}
