// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Six+Caps&family=Tulpen+One&family=Voltaire&display=swap');

body,html {
	font-family: 'Voltaire', sans-serif;
}

h2,h3 {
	font-family: 'Tulpen One', cursive;
}

.nav-container {

	ul.nav {
		font-family: 'Six Caps', 'Impact', sans-serif;
	    font-family: courier, serif;
	    text-transform: uppercase;
	    font-weight: 600;
	    font-size: 26px;
		
		li {
			/* transform: rotate(-45deg); */
			
			a {
				padding: 2px 20px;
				margin: 0 4px;
				text-decoration: none;
				color: #000;
				background-color: #00aaff;
				transition: background-color 1.5s ease-in-out;
				box-shadow: 0 0 25px #000;
			    border-radius: 24px;
				
				&:hover {
					background-color: #fff;
					transition: background-color .2s ease-in-out;
				}
			}		
		}
		
		li.nav-selected {
			a {
				background-color: transparent;
				color: #00aaff;
				border: 2px solid #00aaff;
				// box-shadow: 0 0 25px #fff;
			}
		}
	
	}
}
