// Define colors 
$white: #fff;
$black: #000;

$body-bg: #000000;
$primary: #4c00ff;
$secondary: #06fff7;
$light: #96f2a3;
$dark: #050066;

$link-color: #00aaff;
$link-hover-color: #fff;
$neon-shadow-glow: rgb(18,0,255);

$nav-hover-bkg-color: rgba(0, 255, 255);

/* Use "text-shadow: $shadowtext" to add this thick shadow to some text
   ..or just add the class .shadowtext to something  						*/
$shadowtext: 0 0 5px black,0 0 10px black,0 0 20px black, 0 0 100px black;

.shadowtext {
	text-shadow: $shadowtext;
}

$info:          $secondary;
$warning:       #ff00fb;
$danger:        #f00;
$success:       #0f0;

// Bootstrap is light by default. We lean on Bootstrap dark theme
// to fill in the gaps, but colorize it with these colors

// Main text and background color
$body-color-dark:             $primary;
$body-bg-dark:                $body-bg;
$link-color-dark:             $link-color;
$link-hover-color-dark:       $link-hover-color;
$body-secondary-color-dark:   $body-bg;
$body-secondary-bg-dark:      $primary;
$body-tertiary-color-dark:    rgba($body-color-dark, .5) !default;
$body-tertiary-bg-dark:       $secondary;

// These are copied over form variables-dark, but are commented out
// To override the Boostrap Dark defaults, uncomment these and change them.
// Note that named colors (white, gray-700, etc) aren't yet defined here, 
// so those variables will need to be replaced

//$body-emphasis-color-dark:          $white !default;
//$border-color-dark:                 $gray-700 !default;
//$border-color-translucent-dark:     rgba($white, .15) !default;
//$headings-color-dark:               inherit !default;
//$link-color-dark:                   tint-color($primary, 40%) !default;
//$link-hover-color-dark:             shift-color($link-color-dark, -$link-shade-percentage) !default;
//$code-color-dark:                   tint-color($code-color, 40%) !default;

