// Define colors 
$primary: #4c00ff;
$secondary: #06fff7;
$light: #96f2a3;
$dark: #050066;
$body-bg: #000000;


$info:          $secondary !default;
$warning:       #ff00fb !default;
$danger:        #f00 !default;
$success:       #0f0;


// Start with Bootstrap dark theme
// @import "~bootstrap/scss/variables-dark";



